<h1>Zombies#createzombie</h1>
<p>Create one  Zombie</p>
<p> ...and return the new Zombie @TODO: validate and match</p>
<small>
name:
</small>
<%= @Z.name  %>
<br>
<small>
graveyard:
</small>
<%= @Z.graveyard %>
