<h1>Zombies#create_table(Uuups, my fail-- this row.. so create row sorry..)</h1>
<form accept-charset="UTF-8" action="/zombies/create_table" method="post">
  <input type="text" name="zombie[name]" value="" placeholder="Z.name" />
  <input type="text" name="zombie[graveyard]" value="" placeholder="Z.graveyard" />
<button type="submit" value="submit"></button>
</form>

