<h1>Zombies#find</h1>
<p>So, well.. Try to find a Zombie the ID is 1?</p>
<p> I try this  "Z = Zombie.find(1)"</p>
<p> well.. but i printed this "Z.name" (look like better than 0Xblahblha)</p>
<small>result:</small>
<%= @Z.name %>
