<h1>Zombies#index</h1>
<p>Hello and wellcome!</p>
<p>This is dรถ rails 4 Z0mb135 Tut0r14l "myAPP" version :D :by N0RB3RT</p>

<p> I create sql table "Zombies" with col-s 'id' (auto), 'name'(string), graveyard (string)</p>
<p> Insert 3 rows </p>
{id:1, name:"Ashley", graveyard:"Glen Haven Memorial Cemetery"}, <br>
{id:2, name:"Bob", graveyard: "Chapel Hill Cemetry"}, <br>
{id:3, name:"Katie", graveyard: "Mys Fathers Basement"} <br>

<a href="/zombies/find">First level: FIND ONE ID</a>
<a href="/zombies/create">Secound Level: Create Zombie</a>
<a href="/zombies/findlast">Third Level: Find II</a>

