<h1>Zombies#update</h1>
<p> I just updated the zombie where id is 3</p>
" def update<br>
        @Z = Zombie.find(3)<br>
        @Z.graveyard = "Benny Hills Memorial"<br>
        @Z.save<br>
        
  end"<br>

<small>
result:
</small>
<%= @Z.graveyard %>

